<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LowVisionSoftware.Properties.Settings._Ritesh_Blind_LowVisionDBConnectionString"
            connectionString="Data Source=tpisql01.avcol.school.nz;Initial Catalog=(Ritesh)Blind&amp;LowVisionDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>